@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
body {
   max-width: 400px; 
    background-color: rgb(116, 116, 116);
}

h2 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(196, 2, 234);
  top: 95px;
  left: 145%;
}

p {
  position: relative;
  color: white;
  width: max-content;
  box-shadow: 1px 1px black;
  border-radius: 3px;
  background-color: rgb(196, 2, 234);
  text-shadow: 3px 3px black;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  top: 95px;
  left: 145%;
}

button {
  width: 70px;
  height: 50px;
  font-size: 30px;
  color: aliceblue;
  border-color: aliceblue;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(212, 0, 255);
  border-radius: 8px;
}

.botoes {
  font-family: 'Roboto', sans-serif;
  max-width: fit-content;
    position: relative;
    top: 120px;
    left: 145%;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(196, 2, 234);
    border-radius: 8px;
}

h3 {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px rgb(196, 2, 234);
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 145%;
  top: 110px;
}