@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
   max-width: 400px; 
    background-color: rgb(24, 0, 42);
}

h2 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(24, 0, 42);
  top: 95px;
  left: 160%;
}

p {
  position: relative;
  color: white;
  width: max-content; 
  text-shadow: 3px 3px black;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  top: 95px;
  left: 145%;
}

button {
  width: 70px;
  height: 50px;
  font-size: 30px;
  color: aliceblue;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(85, 0, 149);
  border-radius: 8px;
}

.botoes {
  font-family: 'Roboto', sans-serif;
  max-width: fit-content;
    position: relative;
    top: 120px;
    left: 145%;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 0, 149);
    border-radius: 8px;
}

h3 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(24, 0, 42);
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 155%;
  top: 154px;
}
